VITE_STORE_NAME=FastDish
VITE_STORE_PHONE_DISPLAY=(85) 99906-2339
VITE_WHATSAPP_PHONE=5585999062339
VITE_STORE_STREET=Rua Exemplo
VITE_STORE_NUMBER=123
VITE_STORE_CITY=Cidade
VITE_STORE_STATE=Estado
VITE_PIX_KEY=85999062338
VITE_PIX_MERCHANT_NAME=FastDish
VITE_PIX_MERCHANT_CITY=FORTALEZA
VITE_DELIVERY_FEE=0
VITE_MINIMUM_ORDER=0
VITE_INSTAGRAM_URL=
VITE_FACEBOOK_URL=
